{% extends "index.html" %}

{% block title %}It's {% if not up4 %}not {% endif %}just you.{% endblock %}

{% block content %}
<!-- VALID -->
{% if up4 %}
  <p>It's just you.  <a href="{{ display_url }}">{{ display_url }}</a> is up.</p>
  {% if up6 %}
    <p>Better than that it's up and working over IPv4 and IPv6!</p>
  {% else %}
    <p>Well, sort of.  It's only working over IPv4, not over IPv6.</p>
  {% endif %}
  <p><a href="http://isoc.org/wp/worldipv6day/faq/">What is IPv6? And why should I care?</a></p>
  {{ upad1 }}
{% else %}
  <p>It's not just you!  <a href="{{ display_url }}">{{ display_url }}</a> looks down from here.</p>
  {% if up6 %}
    <p>Well sort of.  It's working fine over IPv6.</p>
  {% else %}
    <p>It's not working over IPv4 or IPv6.</p>
  {% endif %}
  <p><a href="http://isoc.org/wp/worldipv6day/faq/">What is IPv6? And why should I care?</a></p>
  {{ downad1 }}
{% endif %}
{% endblock %}